

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem !important;
  background-color: #fff !important;
  color: #242424 !important;
}



.btn--outline {
  background-color: #fff;
  color: rgb(7, 6, 6);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}



.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
.btn-secondary {
  color: #242424;
}
@media screen and (max-width: 960px)  {
  .btn{
     font-size: 1rem !important;
  }
}